*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  text-rendering: optimizeSpeed;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: auto !important;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 50px;
}

.navbar {
  display: flex;
  gap: 100px;
}

.vybe {
  margin-right: 400px;
}

.navbar a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}
#master {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#master .left-section {
  max-width: 531px;
}

#master .left-section .heading {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

#master .left-section .paragraph {
  margin-bottom: 50px;
  margin-top: 20px;
}

.master .left-section .input-container {
  display: flex;
  width: fit-content;
  height: 50px;
  border: 1px solid #6a6d6e;
  border-radius: 5px;
}

#master .left-section .input-container .input {
  border-radius: 5px;
  width: 260px;
  padding: 0px 20px;
  height: 30px;
}

#master .left-section .input-container .btn {
  border-radius: 5px;
  background: #000000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  width: 150px;
  height: 30px;
}

.sideimage {
  margin: 20px;
}

.navbar a:hover {
  transition: all o.5sc ease;
  color:dodgerblue;
}

#master .left-section .input-container .btn {
  transition: o.5sc ease;
  color: dodgerblue;
}